.logo img{
    width: 100px;
    border-radius: 50%;
    margin: 10px;
}
.redes img{
    width: 40px;
    margin-top: 30px;
}
.op img {
    width: 60px;
    border-radius: 20px 0px 0px 20px;
}